body {
  text-align: left;
  font-family: Arial, Helvetica, sans-serif;
}

.center {
  text-align: center;
}

.grid-layout {
  display: block;
}

/* Centering text for titles */
h1,
h2,
h3 {
  text-align: center;
}

a {
  padding-bottom: 0.625rem;
}

/* Centering content within each section */
.info-section,
.connect-section,
.input-section,
.retrieve-section,
.history-section {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}

/* Section background colors */
.connect-section {
  background-color: #ffd700;
  padding-bottom: 0.625rem;
}

.input-section {
  background-color: DodgerBlue;
  padding-bottom: 0.625rem;
}

.retrieve-section {
  background-color: Tomato;
  padding-bottom: 0.625rem;
}

.history-section {
  background-color: LightGreen;
  padding-bottom: 0.625rem;
}

/* Centering the input field */
.input-section input {
  margin: 10px 0;
  align-self: center;
}

/* History list alignment */
.history-section ol {
  text-align: left;
}

.history-section ol a {
  color: #1a0dab;
}

button {
  width: 150px;
  padding: 8px;
  border-radius: 10px;
  background-color: #18e9db;
  color: #7c7272;
  border: none;
  cursor: pointer;
  transition: all 0.3s ease;
}

button:hover {
  background-color: #2980b9;
  color: #e5d4d4;
  transform: scale(1.05);
}

button:active {
  transform: scale(0.95);
}

label {
  padding: 20px;
}
